.content {
	max-width: 720px;
	border: 2px;
	margin: 0 auto;
}

nav {
	margin: 0 auto;
    text-align: center;
}

ul li {
	list-style: none;
	display: inline;
	padding-right: 5px;
}

.main {
	margin: 0 auto;
}      